body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 1em;
}

menu .nav-item {
  padding: 0 0.5em;
}

footer a {
  float: right;
}

#count {
  color: rgb(246, 239, 158);
}

.players {
  flex: 1;
  width: 100%;
  padding: 0.5em;
}

.player-name {
  color: rgb(50, 50, 210);
}

.game {
  background: rgb(98, 129, 161);
  background-image: linear-gradient(180deg, white 1%, transparent 100%);
  border-radius: 100%;
  box-shadow: 0 0 20px 5px rgb(69, 69, 69);
  width: 100vw;
  height: 100vw;
  position: absolute;
  min-width: 350px;
  min-height: 350px;
  max-width: min(80vmin, 1000px);
  max-height: min(80vmin, 1000px);
}

.button-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}

.button-top-left {
  border-radius: 100% 0 0 0;
  box-shadow: 0 0 5px 2px rgb(69, 69, 69);
  margin: 20px 0 0 20px;
  background-size: 5px 5px;
  background-color: red;
  background-image: linear-gradient(
    45deg,
    rgb(128, 13, 3) 65%,
    transparent 45%
  );
  border: thick solid rgb(128, 13, 3);
}

.button-top-right {
  border-radius: 0 100% 0 0;
  box-shadow: 0 0 5px 2px rgb(69, 69, 69);
  margin: 20px 20px 0 0;
  background-size: 5px 5px;
  background-color: green;
  background-image: linear-gradient(45deg, rgb(0, 82, 27) 65%, transparent 45%);
  border: thick solid rgb(0, 82, 27);
}

.button-bottom-left {
  border-radius: 0 0 0 100%;
  box-shadow: 0 0 5px 2px rgb(69, 69, 69);
  margin: 0 0 20px 20px;
  background-size: 5px 5px;
  background-color: blue;
  background-image: linear-gradient(45deg, rgb(3, 0, 163) 65%, transparent 45%);
  border: thick solid rgb(3, 0, 163);
}

.button-bottom-right {
  border-radius: 0 0 100% 0;
  box-shadow: 0 0 5px 2px rgb(69, 69, 69);
  margin: 0 20px 20px 0;
  background-size: 5px 5px;
  background-color: yellow;
  background-image: linear-gradient(
    45deg,
    rgb(209, 202, 0) 65%,
    transparent 45%
  );
  border: thick solid rgb(209, 202, 0);
}

.controls {
  position: absolute;
  box-shadow: 0 0 5px 2px rgb(69, 69, 69);
  background-image: linear-gradient(180deg, white 1%, transparent 100%);
  border-radius: 50%;
  width: 175px;
  height: 175px;
  background-color: rgb(98, 129, 161);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Roboto');

.game-name {
  font-family: "Righteous";
  font-size: 2em;
  color: rgb(43, 43, 43);
}

.score {
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: green;
  cursor: default;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: solid gray;
  background-color: black;
}

.center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

.resetbutton {
  color: red;
  font-weight: bold;
  background-image: linear-gradient(180deg, white 1%, transparent 100%);
  border-radius: 50%;
}

.loginbutton {
    color: blue;
  font-weight: bold;
  background-image: linear-gradient(180deg, white 1%, transparent 100%);
  border-radius: 50%;
}
